@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #343434;
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.mobile {
    display: none;
}
.menu {
    font-size: 12px;
    padding: 20px 0;
    background-color: #333;
}
.list ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
ul.menulist {
    display: flex;
    flex-direction: column;
    overflow:visible;
}
.list li {
    list-style: none;
    padding: 14px; 
    overflow:visible;
}
.list li a {
    text-decoration: none;
    color: #fff;
    overflow:visible;
}
.list li a:hover {
    color: #ff8400;
}
.list span {
    color: #ff8400;
}
.menu .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
}

/* logo */
.logo {
    padding: 14px 18px;
}
.logo img{
    height: 18px;
    width: auto;
}
/* dropdown */
.openMenu .dropdown {
    opacity: 0;
}
.openMenu:hover .dropdown {
    opacity: 1;
}
.dropdown, .contact {
    margin-top:20px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.menulist li {
    padding: 5px;
}
.contact {
    position: absolute;
}

/* First pix */
.coverPix {
    text-align: left;
}
.coverPix p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.coverPix span {
    color:#ff8400;
}
/* Contact */
.containing {
    width: 70%;
    margin: auto 0;
}
.cont {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}


/* contact */
.details {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 30px auto;
}
.touch {
    padding: 0 100px 0 0;
    color: #343434;
}
form {
    background-color: rgba(225, 225, 225, 0.7);
}
form input, textarea {
    border: none;
    outline: none;
    padding: 10px 30px;
    margin: 20px; 
}
form button {
    border: none;
    outline: none;
    padding: 10px 30px;
    margin: 20px;
    background-color: #ff8400;
    color: white;

}

/* Map */
#map {
    height: 500px;
    width: 100%;
}
/* Footer */
.myFooter {
    background-color: #343434;
    color: white;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer i {
    padding: 10px;
    color:rgba(255,132,0);
}
.footer .about {
    width: 50%;
}
@media(max-width: 1200px){
    .container{
        width: 100%;
    }
    .menu .container {
        padding-left: 10%;
        flex-direction: column;
        margin:auto;
    }
}
@media(max-width: 700px){
    .desktop {
        display: none;
    }
    .mobile {
        display: contents;
    }
    .menu .container {
        flex-direction: row;
    }
    .menu .container {
        display: flex;
        padding-left: 0;
    }
    .menu {
        font-size: 12px;
        padding: 0;
    }
    .logo {
        padding: 14px 18px;
    }
    .logo img{
        height: 14px;
        width: auto;
    }
    .openMenu .dropdown {
        opacity: 1;
    }
    .doNotDrop {
        display: none;
    }
    .dropdown {
        margin-top:20px;
        position: static;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        display: contents;
    }
    .flexMe {
        display: flex;
        justify-content: space-between;
    }
    .show {
        margin-top: 10px;
        margin-right: 20px;
    }
    .noshow {
        display: none;
    }
    .noList {
        display: none;
        height: 0;
    }
    .list ul {
        flex-direction: column;
        background-color: #343434;
    }
    .menu i {
        color: #fff;
    }

    .footer {
        justify-content: center;
        text-align: center;
        align-items:center;
    }
    .footer .about {
        padding: 20px 0px;
    }
}