/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.6;
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.mobile {
    display: none;
}
.hero img {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;

}
.list ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
ul.menulist {
    display: flex;
    flex-direction: column;
}
.list li {
    list-style: none;
    padding: 14px; 
}
.list li a {
    text-decoration: none;
    color: #fff;
}
.list li a:hover {
    color: #ff8400;
}
.list span {
    color: #ff8400;
}
.recd span {
    float: right;
}
.head {
    position: relative;
}
.menu {
    position: absolute;
    top: 0;
    background-color: rgba(225,225,225,0.5);
    width: 100%;
    display: flex;
    justify-content: center;
}
/* logo */
.logo {
    padding: 14px 18px;
}
.logo img{
    height: 18px;
    width: auto;
}
.display {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(50%, 50%);
    text-align: center;
}
.display h1, .display h2, .display p {
    color: #fff;
    font-size: 25px;
}
.display h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
}
.display p {
    font-size: 18px;
}
.display button {
    outline: none;
    border: none;
    padding: 16px 50px;
    color: #fff;
    font-size: 16px;
    background-color: #ff8400;
    margin: 30px;
}
.display button:hover {
    background-color: rgba(235, 140, 38);
}

/* dropdown */
.openMenu .dropdown {
    opacity: 0;
}
.openMenu:hover .dropdown {
    opacity: 1;
}
.dropdown, .contact {
    margin-top:20px;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.menulist li {
    padding: 5px;
}
.contact {
    position: absolute;
}

/* Awards */
.excellence, .food, .love, .satisfaction, .recognitions {
    display: flex;
    justify-content: center;
    padding: 0 90px;
}
.recognitions {
    margin-top: 20px;
}
.recognitions i {
    color: #beb2b5;
}
.excellence:hover .first i {
    color: green;
}
.food:hover .second i {
    color: red;
}
.love:hover .third i {
    color: red;
}
.satisfaction:hover .fourth i {
    color: green;
}
.star i {
    color: #FF9529;
}
.excellence, .food, .love, .satisfaction {
    padding-bottom: 20px;
    border-bottom: solid rgba(225,225,225,0.4) 2px;
}
.excellence:hover, .food:hover, .love:hover, .satisfaction:hover {
    transition: border 1s ease;
    border-bottom: solid #ff8400 2px;
}

/* ad showing discount */
.ad {
    position: relative;
    display: flex;
}
.ad img {
    width: 200px;
    height: 300px;
}
.adTextOne {
    position: absolute;
    top: 0;
    color: white;
    background-color:rgba(255,132,0, 0.8);
    padding: 28px 20px 25px 20px;
    width: 200px;
}
.adTextTwo {
    position: absolute;
    top: 0;
    color: white;
    background-color: #343434cc;
    padding: 28px 40px 25px 20px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.remark {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ad, .chef {
    padding: 0 30px 0 30px;
}
.chef p, .chef a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;;
}
.chef a {
    color:rgba(255,132,0);
}
.chef a:hover {
    color: black;
}

/* Image display of drink, rice and chiken and burger */
.displayPix img {
    height: 450px;
    width: 100%;
}
.displayPix {
    display: flex;
    justify-content: center;
}
.rice, .snacks, .drinks {
    position: relative;
}
.rice:hover, .snacks:hover, .drinks:hover {
   background:rgba(255,132,0);
}
.rice:hover img, .snacks:hover img, .drinks:hover img {
    animation: pulse 0.5s linear;
    filter: brightness(70%);
}
@keyframes pulse {
    0% {transform: rotate(0deg) scale(.99) }
    100% {transform: rotate(0deg) scale(1)}
}
.rice h1, .snacks h1, .drinks h1 {
    position: absolute;
    bottom: 0;
    color: white;
    background-color:rgba(255,132,0);
    width: 100%;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dOne, .dTwo, .dThree {
    text-align: center;
}

/* Reviews */
.myReview {
    background-color: rgba(225,225,225,0.3);
}
.reviewSection {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}
.review {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.review img {
    height: 80px;
    width: auto;
    border-radius: 50%;
}
.review i {
    color:rgba(255,132,0);
}

/* Chief's recommendation */
.recommend, .recd {
    display: flex;
}
.recommend img {
    height: 400px;
    width: 100%;
}
.aOne:hover img, .bOne:hover img, .cOne:hover img, .zOne:hover img {
    filter:brightness(70%);
}
.chef {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 60px 0 30px 0;
}
.aOne, .bOne, .cOne, .zOne {
    position: relative;
}
.aOne h4, .bOne h4, .cOne h4, .zOne h4 {
    position: absolute;
    top: 16px;
    left: 20px;
    color: white;
    background-color:rgba(255,132,0);
    padding: 6px 15px;
}
.aOne p, .bOne p, .cOne p, .zOne p {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.aOne span, .bOne span, .cOne span, .zOne span {
    color:rgba(255,132,0);
}

/* Book Now */
.book {
    position:relative;
    text-align: center;
}
.book img {
    margin-top: 40px;
    height: 500px;
    width: 100%;
    display: block;
}
.order {
    font-family:'Open Sans', sans-serif;
    padding: 30px 50px;
    width: 500px;
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.order h1 {
    color:rgba(255,132,0);

}
.order p {
    font-size: 16px;
}
.order button {
    color: white;
    background-color:rgba(255,132,0);
    padding: 10px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.order button:hover {
    background-color:rgba(255,132,0, 0.9);
}
.mySub {
    background-color:rgba(255,132,0);
}
.subscribe {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.subOne, .subTwo {
    padding: 40px;
}
.subTwo {
    display: flex;
}
.subOne {
    text-align: left;
}
.subTwo button {
    background-color: white;
    color:rgba(255,132,0);
    outline: none;
    border:none;
    cursor: pointer;
    padding: 10px 16px;
    margin: 0;
}
.subTwo button:hover {
    background-color: #343434;
}
.subTwo input {
    padding: 10px 25px;
    margin:0;
    outline: none;
    border: none;
    background-color: rgba(219, 124, 20);
}
.subscribe input::placeholder {
    color: white;
}

/* Footer */
.myFooter {
    background-color: #343434;
    color: white;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.footer i {
    padding: 10px;
    color:rgba(255,132,0);
}

.footer .about {
    width: 50%;
}
@media(max-width: 1200px){
    .container{
        width: 100%;
    }
    .menu {
        padding-left: 10%;
        flex-direction: column;
        margin:auto;
    }
    
    .recd {
        display: flex;
        flex-direction: column;
    }
    .rice h1, .snacks h1, .drinks h1 {
        width: 100%;
     }
    .subscribe {
        flex-direction: column;
        align-items: center;
    }
    .subOne {
        width: 400px;
        padding-bottom: 0;
    }
    .excellence, .food, .love, .satisfaction, .recognitions {
        padding: 0 30px;
    }
}
@media(max-width: 700px){
    .desktop {
        display: none;
    }
    .mobile {
        display: contents;
    }
    .menu {
        background-color: #343434;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu .container {
        flex-direction: row;
        justify-content: space-between;;
    }
    .list ul {
        flex-direction: column;
        background-color: #343434;
    }
    .heroImg {
        position: relative;
    }
    .display {
        position: absolute;
    }

    .menu .container {
        flex-direction: row;
    }
    .menu .container {
        display: flex;
        padding-left: 0;
    }
    .menu {
        position: static;
        font-size: 12px;
        padding: 0;
    }
    .fixed {
        position:sticky;
        top: 0;
        z-index: 4;
    }
    .logo {
        padding: 14px 18px;
    }
    .logo img{
        height: 14px;
        width: auto;
    }
    .openMenu .dropdown {
        opacity: 1;
    }
    .doNotDrop {
        display: none;
    }
    .show {
        margin-top: 10px;
        margin-right: 20px;
        color: white;
    }
    .noshow {
        display: none;
    }
    .noList {
        display: none;
        height: 0;
    }
    .list ul {
        flex-direction: column;
        background-color: #343434;
    }
    .menu i {
        color: #fff;
    }
    .dropdown {
        margin-top:20px;
        position: static;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        display: contents;
    }
    .flexMe {
        display: flex;
        justify-content: space-between;
    }
    .display h1 {
        font-size: 14px;
    }
    .display h2 {
        font-size: 12px;
    }
    .display p {
        font-size: 12px;
        font-weight: bolder;
        width: 80%;
        margin: auto;
    }
    .hero img {
        height: 300px;
    }
    .ad {
        width: 100%;
        height: 250px;
    }

    .recognitions, .remark, .displayPix, .review, .recd, .recommend, .footer {
        flex-direction: column;
    }
    .food, .love, .satisfaction {
        padding-top: 40px;
    }
    .excellence, .food, .love, .satisfaction {
        justify-content: left;
    }
    .displayPix img {
        height: 250px;
        width: 100%;
    }
    .chef {
        margin-top: 0;
    }
    .review {
        width: 60%;
        margin: auto;
    }
    .recommend img {
        height: 250px;
        width: 100%;
    }
    .book img {
        margin-top: 20px;
        height: 400px;
        width: 100%;
    }
    .order {
        font-family:'Open Sans', sans-serif;
        padding: 10px 30px;
        width: 70%;
        background-color: rgba(255,255,255, 0.5);
    }
    .subOne, .subTwo {
        padding: 10px;
    }
    .footer {
        justify-content: center;
        text-align: center;
        align-items:center;
    }
    .footer .about {
        width: 100%;
        padding: 20px 0px;
    }
}